TELEGRAM_BOT_TOKEN=
BOT_ADMIN_ID=
YOOMONEY_TOKEN=
YOOMONEY_RECEIVER=
YOOMONEY_CLIENT_ID=
YOOMONEY_REDIRECT_URI=
AUDIO_ONE_FILE_ID=
AUDIO_TWO_FILE_ID=
AUDIO_THREE_FILE_ID=
AUDIO_FOUR_FILE_ID=
AUDIO_FIVE_FILE_ID=
